<div class="container-fluid mainContainer">
    <div class="row justify-content-center">
        <div class="col-12 text-center titulo">Personajes</div>
        <div class="col-md-4 text-center">
            <img src="../../assets/images/mono.png" alt="Imagen 1" class="img-fluid" (click)="setPersonaje('mono')">
        </div>
        <div class="col-md-4 text-center">
            <img src="../../assets/images/elefante.png" alt="Imagen 2" class="img-fluid" (click)="setPersonaje('elefante')">
        </div>
        <div class="col-md-4 text-center">
            <img src="../../assets/images/leon.png" alt="Imagen 3" class="img-fluid" (click)="setPersonaje('leon')">
        </div>
        <div class="col-md-4 text-center">
            <img src="../../assets/images/capibara.png" alt="Imagen 4" class="img-fluid" (click)="setPersonaje('capibara')">
        </div>
        <div class="col-md-4 text-center">
            <img src="../../assets/images/koala.png" alt="Imagen 5" class="img-fluid" (click)="setPersonaje('koala')">
        </div>
    </div>
</div>
