<div class="container-fluid mainContainer">
  <div class="row justify-content-center">
      <div class="col-12 text-center titulo">Sección</div>
      <div class="col-md-4 text-center">
          <img src="../../assets/images/seccionSuma.png" alt="Imagen 1" class="img-fluid" (click)="goToPage('Suma')">
      </div>
      <div class="col-md-4 text-center">
          <img src="../../assets/images/seccionResta.png" alt="Imagen 2" class="img-fluid" (click)="goToPage('Resta')">
      </div>
      <div class="col-md-4 text-center">
          <img src="../../assets/images/seccionMultiplicacion.png" alt="Imagen 3" class="img-fluid" (click)="goToPage('Multiplicacion')">
      </div>
  </div>
</div>
